.container {
    padding: 80px 120px;
    align: center;
  }
 
.container h2{
   font-size: 20px;
 }

body {
    font: 400 16px/1.5 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #136F63;
  }

  h3 {
    color: darkred;
  }

  h4 {
    margin: 10px 0 20px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #041B15
  }
  
  .person {
    border: 5px solid transparent ;
    margin-bottom: 10px;
    width: 70%;
    height: 70%;
    
  }
  .person:hover {
    border-color: gray;
  }
  .carousel-inner img {
    width: 105%;
    margin: auto;
  }
 
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;       
    }
  }

  .bg-1 {
    background: #D6DBD2;
    color: #041B15;
  }

  .bg-1 p {
    font-style: bold;
  }
  
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 10px;
  }

  .thumbnail p {
    margin-top: 15px;
    color: darkcyan;
  }

  .thumbnail span{
    font-size: 15px;
    padding: 5px 20px;

  }

  .btn {
    padding: 10px 20px;
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    transition: .2s;
  }

  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #136F63;
  }

  .modal-header, h4, .close {
    background-color: darkred;
    color: lightgray !important;
    text-align: center;
    font-size: 30px;
  }

  .modal-header, .modal-body {
    padding: 20px 30px;
  }

  .nav-tabs li a {
    color: whitesmoke;
  }
  
  .navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
    background-color: #136F63;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: darkred !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: darkred !important;
  }
  .dropdown-menu li a {
    color: darkcyan !important;
  }
  .dropdown-menu li a:hover {
    background-color: darkred !important;
  }

  footer {
    background-color: #136F63;
    color: white;
    padding: 10px;
  }

  footer a {
    color: white;
  }

  footer a:hover {
    color: lightcyan;
    text-decoration: none;
  }

  .form-control {
    border-radius: 10px;
  }

  textarea {
    resize: none;    
  }
  
  #agenda th{
  height: 50px;
  width: 10%;
  text-align: center;
  background: lightseagreen;
  font-size: 13px;
  }

  #agenda tr{
    height: 10px;
    width: 10%;
    font-size: 11px;
  }

